.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.page::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0.2;
    background-image: radial-gradient(var(--tertiary) 1.75px, transparent 1.75px), radial-gradient(var(--tertiary) 1.75px, transparent 1.75px);
    background-size: 70px 70px;
    background-position:
        0 0,
        35px 35px;
}

.page > * {
    width: 100%;
    max-width: 1200px;
}

.header {
    padding: 6rem 0rem;
    display: flex;
    align-items: center;
}

.branding {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    width: 100px;
}

.name {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links > li {
    position: relative;
    flex: 1;
    border-radius: 15px;
    color: var(--secondary);
    transition: transform 200ms;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 1rem;
}
.links>li:hover{
    transform: scale(1.1);
}
.links > li > a {
    padding: 1rem;
}

.content {
    padding: 6rem;
    display: flex;
    gap: 6rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
    display: none;
}

.content > section {
    scroll-snap-align: center;
    min-width: 100%;
    padding: 2rem;
    position: relative;
    backdrop-filter: blur(15px);
    border-radius: 15px;

}

.about {
}
